

body{
  background-color: #ffffff !important;

}
  .box{
    
    width: 100%;
    margin-top: 2%;
    font-size: large;
    background-color: rgb(155, 235, 255);

    box-shadow: 3px 3px 5px 6px rgba(122, 122, 122, 0.664);  
    border-radius: 10px;
  
   
  }
  .container2{
    margin: auto;
    width: 60%;
   /* border: 3px solid  rgb(76, 221, 173);*/
    padding: 90px;
    background-color: #ffffff !important;
    box-shadow: 3px 3px 5px 6px rgba(122, 122, 122, 0.664);  
    border-radius: 10px;
   

  }
label{
  padding: 10px;
  
  
}  
div.element{
  margin: 50px;
  display:inline-block;
  margin-left: 10%;
}
#checkbox {display:inline-block;margin-right:90px;} 
#button{display: flex;}
option:hover{ 
  /* Whatever color  you want */
  background-color: #82caff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

