#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #offers {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    
  }
  .desc {  
    height: 70px;
    width:98%;
    overflow-y: auto;
    overflow-x: hidden;
 }
  #offers td, #offers th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  #offers tr:nth-child(even){background-color: #f2f2f2;}
  
  #offers tr:hover {background-color: #ddd;}
  
  #offers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    
  }